<section id="skills" class="page-section">
    <div class="skills-section">
      <div class="skills">
        <h2>Skills</h2>
        <p>Here you can see my skills, one of the fascinations of the computer world is the momentary changes of technologies, but I try to update my knowledge every day and experience new technologies.</p>
        <div class="skills-list">
          <span class="skill">Angular</span>
          <span class="skill">TypeScript</span>
          <span class="skill">Javascript</span>
          <span class="skill">Bootstrap</span>
          <span class="skill">Postgres</span>
          <span class="skill">HTML / CSS</span>
          <span class="skill">MySQL</span>
          <span class="skill">Git</span>
          <span class="skill">PHP</span>
        </div>
      </div>
  
      <div class="language-skill">
        <h2>Language skill</h2>
        <p>One of my hobbies is studying and learning languages. I try to be able to learn and use my favorite languages.</p>
        <div class="language-stats">
          <div class="language-box">
            <span class="percentage">100%</span>
            <span class="language-name">Nepali</span>
          </div>
          <div class="language-box">
            <span class="percentage">70%</span>
            <span class="language-name">English</span>
          </div>
          <div class="language-box">
            <span class="percentage">40%</span>
            <span class="language-name">Hindi</span>
          </div>
        </div>
      </div>
    </div>
  </section>