<section id="projects" class="page-section">
<section class="projects">
    <h1>What have I created?</h1>
    <p class="intro">Creating is always attractive and I tried to never deprive myself of this pleasure. Here you can see the projects published by me.</p>

    <div class="project-container mt-5">
        <!-- ATM Project Book -->
        <div class="book">
            <div class="content">
                <h2>ATM With Java</h2>
                <p class="description">Comming Soon.</p>
            </div>
            <div class="cover">
                <h2>ATM Java</h2>
                <img src="assets/atm.jpg" alt="ATM Project" class="project-img">
            </div>
            <a class="link-icon" (click)="go()">
                <i class="fas fa-link"></i>
            </a>
            <!-- <a href="#" class="project-link w-50">
                Read More
            </a> -->
        </div>

        <!-- Sajilo Yatra Project Book -->
        <div class="book">
            <div class="content">
                <h2>Sajilo Yatra With PHP</h2>
                <p class="description">Comming Soon.</p>
            </div>
            <div class="cover">
                <h2>Sajilo Yatra</h2>
                <img src="assets/travel.png" alt="Sajilo Yatra Project" class="project-img">
            </div>
            <a class="link-icon" (click)="go()">
                <i class="fas fa-link"></i>
            </a>
            <!-- <a href="#" class="project-link w-50">
                Read More
            </a> -->
        </div>

        <!-- Check In Check Out Project Book -->
        <div class="book">
            <div class="content">
                <h2>CMS With Angular</h2>
                <p class="description">Comming Soon.</p>
            </div>
            <div class="cover">
                <h2>CMS</h2>
                <img src="assets/cms.png" alt="CMS Project" class="project-img">
            </div>
            <a class="link-icon" (click)="go()">
                <i class="fas fa-link"></i>
            </a>
            
            
            
            <!-- <a href="#" class="project-link w-50">
                Read More
            </a> -->
        </div>

        <div class="book">
            <div class="content">
                <h2>Attendence Management- Angular</h2>
                <p class="description">Comming Soon.</p>
            </div>
            <div class="cover">
                <h2>Attendence Management</h2>
                <img src="assets/angular.png" alt="CMS Project" class="project-img">
            </div>
            <a class="link-icon" (click)="go()">
                <i class="fas fa-link"></i>
            </a>
            
            
            
            <!-- <a href="#" class="project-link w-50">
                Read More
            </a> -->
        </div>


    </div>
</section>
</section>