<section class="services-section">
    <div class="container">
        <div class="header text-center">
            <h2 class="section-title">Services</h2>
        </div>
        <div class="services-grid">

            <div class="service-item">
                <div class="icon">
                    <i class="fas fa-code"></i> <!-- Web Developer Icon -->
                </div>
                <h3>Web Developer</h3>
            </div>
            
            <div class="service-item">
                <div class="icon">
                    <i class="fas fa-laptop-code"></i> <!-- Web Design Icon -->
                </div>
                <h3>Web Design</h3>
            </div>
         
        
            <div class="service-item">
                <div class="icon">
                    <i class="fas fa-paint-brush"></i> <!-- UI Design Icon -->
                </div>
                <h3>UI Design </h3>
            </div>
            <div class="service-item">
                <div class="icon">
                    <i class="fas fa-video"></i> <!-- Video Production Icon -->
                </div>
                <h3>Video-Editing</h3>
            </div>
            <div class="service-item">
                <div class="icon">
                    <i class="fas fa-camera-retro"></i> <!-- Photography Icon -->
                </div>
                <h3>Photography</h3>
            </div>
            <div class="service-item">
                <div class="icon">
                    <i class="fas fa-pen-nib"></i> <!-- Branding Icon -->
                </div>
                <h3>Branding</h3>
            </div>
            
        </div>
    </div>
</section>
