<section id="home" class="page-section">
<div class="hero-section">
    <div class="container">
      <div class="profile" >
        <img src="assets/chitraprdacharya.png" alt="">
      </div>
      <div class="intro-text" >
        <h4>Hi There, I'm</h4>
        <h1>Chitra Prasad Acharya</h1>
        <p class="subtitle" >FrontEnd Developer</p>
        <div class="social-icons" >
          <a href="https://www.facebook.com/Chitra.acharya1l" aria-label="Facebook" class="social-icon facebook"><i class="fab fa-facebook"></i></a>
          <a href="https://gitlab.com/chitraprasadacharya" aria-label="Gitlab" class="social-icon github"><i class="fab fa-github"></i></a>
          <a href="https://www.instagram.com/bishal_a7/" aria-label="Instagram" class="social-icon instagram"><i class="fab fa-instagram"></i></a>
          <a href="https://www.linkedin.com/in/chitraprdacharya/" aria-label="LinkedIn" class="social-icon linkedin"><i class="fab fa-linkedin"></i></a>
          
        </div>
      </div>
    </div>
  </div>
</section>