<section id="home" class="hero-section">
  <div class="container">
    <div class="intro-text">

      <h1>
        <span class="typed-text"></span>
      </h1>

      <h4>
        <span class="typed-subtext"></span>
      </h4>

      <p class="subtitle">Crafting innovative, functional, and user-friendly software solutions.</p>

      <div class="skills">
        <span>Angular</span>
        <span>JavaScript</span>
        <span>TypeScript</span>
        <span>Node.js</span>
        <span>Java</span>
      </div>

      <div class="buttons">
        <a href="#projects" class="btn" aria-label="View Projects">Projects</a>
        <a href="" class="btn" aria-label="Contact Me">Contact</a>
      </div>

      <div class="social-icons">
        <a href="https://www.facebook.com/Chitra.acharya1l" aria-label="Facebook" class="social-icon">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="https://gitlab.com/chitraprasadacharya" aria-label="GitLab" class="social-icon">
          <i class="fab fa-gitlab"></i>
        </a>
        <a href="https://www.instagram.com/bishal_a7/" aria-label="Instagram" class="social-icon">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="https://www.linkedin.com/in/chitraprdacharya/" aria-label="LinkedIn" class="social-icon">
          <i class="fab fa-linkedin-in"></i>
        </a>
      </div>
    </div>

    <div class="profile">
      <img src="assets/Subject.png" alt="Profile Image of Chitra Prasad Acharya" loading="lazy" />
    </div>
  </div>
</section>
