<section id="contact" class="page-section">
<section class="call-to-action bg-theme">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 text-center text-lg-left my-3">
                <h3>I Am Available For Remote Jobs !</h3>
            </div>
            <div class="col-lg-6 go-to text-center text-lg-right my-3">
                <a class="px-btn px-btn-white" (click)="scrollToAnchoringPosition('hire')" href="javascript:void(0)">Hire Me Now</a>
            </div>
        </div>
    </div>
</section>
</section>
