<section id="about" class="about-section">
  <div class="container">
    <div class="about-content">
      <h1 class="about-title">Passionate Developer & Lifelong Learner</h1>
      <p class="about-description">
        Hi there! I'm Chitra, a 21-year-old frontend developer with a burning passion for creating beautiful and functional web experiences. My journey in programming began in 2018, and I've been on an exciting path of growth and specialization ever since.
      </p>
      <p class="about-description">
        Beyond coding, I'm fascinated by the world of startups and business strategies. When I'm not immersed in lines of code or brainstorming new ideas, you'll find me strumming my guitar or indulging in my favorite TV series.
      </p>
     
    </div>

    <div class="about-image">
      <div class="image-wrapper">
        <img src="assets/f-bg.png" alt="Chitra Portrait" />
      </div>
    </div>
  </div>
</section>
