.about-section {
  padding: 4rem 2rem;
  background-color: #2c3e50;
  color: #f1c40f;
}

.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.about-content {
  flex: 1 1 50%;
  padding: 1rem;
}

.about-title {
  font-size: 2.8rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #f1c40f;
  line-height: 1.2;
}

.about-description {
  font-size: 1.2rem;
  line-height: 1.8;
  margin-bottom: 1.5rem;
  color: #bdc3c7;
}


.about-image {
  flex: 1 1 40%;
  display: flex;
  justify-content: center;
}

.image-wrapper {
  position: relative;
  width: 100%;
  max-width: 550px;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  width: 100%;
  height: auto;
  object-fit: contain;
  display: block;
  border-radius: 15px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.image-wrapper img:hover {
  transform: scale(1.05);
}

/* Responsive Design */
@media (max-width: 1024px) {
  .about-content {
    flex: 1 1 100%;
    padding: 2rem;
  }

  .about-title {
    font-size: 2.2rem;
  }

  .about-description {
    font-size: 1.1rem;
  }

  .achievements {
    flex-direction: column;
    gap: 1rem;
  }

  .achievement-card {
    width: 100%;
    margin-bottom: 1rem;
  }

  .about-image {
    flex: 1 1 100%;
    margin-top: 2rem;
  }

  .image-wrapper {
    max-width: 500px;
  }
}

@media (max-width: 768px) {
  .about-title {
    font-size: 1.8rem;
  }

  .about-description {
    font-size: 1rem;
  }

  .achievement-card h2 {
    font-size: 2rem;
  }

  .achievement-card p {
    font-size: 0.9rem;
  }

  .image-wrapper {
    max-width: 100%;
  }
}

@media (max-width: 480px) {
  .about-title {
    font-size: 1.6rem;
  }

  .about-description {
    font-size: 0.9rem;
  }

  .achievement-card h2 {
    font-size: 1.8rem;
  }

  .achievement-card p {
    font-size: 0.8rem;
  }
}
